*{
    margin: 0;
    padding: 0;
}
.card-img-top{
    width: 100%;
    align-self: center;
    justify-content: center;
    /* transform: translateX(-50px); */
}
body{
    overflow-x: hidden;
    
}
.row{
    padding:30px 0px;
    padding-left:30px;
    width:100vw;
}
.card-img-container{
align-self: center;
justify-content: center;
padding:50px 0px;
font-size: 6em;
}
.card-text{
    text-align: justify;
}
.card{
    height: 500px;
    margin-bottom: 30px;
}